@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --greenLight: hsl(148, 38%, 91%);
  --greenMedium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --greyLight: hsl(186, 15%, 59%);
  --greyDarker: hsl(187, 24%, 22%);
}

/* 
- Font size (labels): 16px

- Mobile: 375px
- Desktop: 1440px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--greenLight);

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.contactBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contactHeading {
  font-size: 32px;
  color: var(--greyDarker);
  text-transform: capitalize;

  margin-bottom: 20px;
}

.form {
  width: 85%;
  height: 90%;

  background-color: var(--white);
  border-radius: 3%;

  font-size: 16px;
  color: var(--greyDarker);

  padding: 25px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.labelSpace {
  margin-bottom: 10px;
}

.mandatory {
  color: var(--greenMedium);
  margin-left: 5px;
}

.submitButton {
  background-color: var(--greenMedium);
  border-radius: 5px;
  color: var(--white);

  width: 100%;
  height: 10%;
}

.inputfield,
.inputfieldText {
  width: 100%; /* */
  border: 1px solid var(--greenMedium);
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.inputfield {
  height: 40px;
}

.inputfieldText {
  height: 100px; /* Specific height */
  resize: none; /* Allow vertical resizing only */
  background-color: #f9f9f9; /* Background color */
}

.inputfield:focus,
.inputfieldText:focus {
  border-color: var(--greenLight);
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  outline: none;
}
