/* 
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px 
*/

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --error: hsl(0, 100%, 66%);
  --active-input: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --white: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);

  --font-size: 18px;
  --input-height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.split-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 3;
  background-color: #21092f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  flex: 7;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Very-dark-violet);
  font-size: 24px;
}

.image {
  background-image: url(./assets/bg-main-desktop.png);
}

/*
=======
form
=======
*/
form {
  width: 500px;
  border: 3px solid red;

  display: flex;
  flex-direction: column;
  padding: 20px; /* could be erase */
}

label {
  text-transform: uppercase;
  font-size: var(--font-size);
  margin-bottom: 5px;
  font-size: 16px;
}

input {
  height: var(--input-height);
  font-size: 18px;

  border-radius: 5px;
  border: 1px solid var(--Light-grayish-violet);
  outline: none;
  padding-left: 10px;

  width: 100%;
}

input::placeholder {
  color: var(--Light-grayish-violet);
}

.input-name-number {
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
}

/*
=======
expiration
=======
*/

.last-3-box {
  display: flex;
  gap: 20px;

  margin-bottom: 15px;
}

.left-exp,
.right-cvc {
  flex: 1;
}

.month-year {
  display: flex;
  gap: 10px;
}

/*
=======
Button
=======
*/

.button {
  margin-top: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: var(--Very-dark-violet);
  color: var(--white);

  text-align: center;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
}

.error-message {
  color: var(--error);
  font-size: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .left-side {
    flex: 3;
  }

  .right-side {
    flex: 7;
  }

  .image {
    background: url(./assets/bg-main-mobile.png) no-repeat center center / cover;
  }
}
