@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --lime: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);

  --white: hsl(0, 0%, 100%);
  --slate100: hsl(202, 86%, 94%);
  --slate300: hsl(203, 41%, 72%);
  --slate500: hsl(200, 26%, 54%);
  --slate700: hsl(200, 24%, 40%);
  --slate900: hsl(202, 55%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--slate900);

  background-color: var(--slate100);
}

.mortgage-heading-title,
.clear-all-button,
.mortgage-form-label,
.calculate-repayments-button {
  text-transform: capitalize;
}

.mortgage-form-label,
.legend-title {
  color: var(--slate700);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

/* mortgage box */
.mortgage-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mortgage-box {
  height: 550px;
  width: 900px;
  display: flex;
  border-radius: 15px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: var(--white);
}

/* mortgage calculator */
.mortgage-calculator {
  flex: 1; /* Take up all available space */
  padding: 20px;
  background: var(--white);
  border-radius: 15px 0 0 15px;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* color */
.mortgage-heading-title,
.calculate-repayments-button {
  color: var(--slate900);
}

.clear-all-button {
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: var(--white);
  text-decoration: underline;
  color: var(--slate500);
  font-size: 1rem;
}

/*
=======
Form
=======
*/
.mortgage-form {
  height: 90%;
  overflow: auto;
  padding: 5px;
}

#mortgage-amount,
#mortgage-term,
#interest-rate {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2.75rem; /* */
  width: 100%;

  font-size: 1.3rem;
}

input,
.repayment,
.interest-only {
  padding: 10px;
  border: 1.5px solid var(--slate300);
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Smooth transition */
}

input::placeholder {
  color: var(--slate500);
  font-size: 1.1rem;
}

.form-input {
  padding-left: 45px;
}

input:focus {
  border-color: hsl(61, 70%, 52%);
  outline: none;
}

.one,
.two,
.three {
  height: 100px;
}

.icon-inside-input {
  height: 2.75rem; /* */

  border-top: 1.5px solid var(--slate300);
  border-bottom: 1.5px solid var(--slate300);
  transition: border-color 0.3s ease;

  background-color: var(--slate100);
  color: var(--slate500);
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  margin: 0;
  padding: 0;
}

.first-input {
  top: -64px;
  width: 10%;

  border-radius: 5px 0 0 5px;
  border-left: 1.5px solid var(--slate300);
}

.input-for-second-and-third {
  top: -64px;
  right: -151px;

  border-radius: 0 5px 5px 0;
  border-right: 1.5px solid var(--slate300);
}

.second-input {
  width: 27%;
}

.third-input {
  width: 23%;
}

.mortgage-term-and-rate-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.legend-title {
  margin-bottom: 10px;
}

.radio-selection-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

input[type="radio"] {
  display: none;
}

/* Add custom radio button design */
.radio-label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1.5px solid var(--slate300);
  margin-right: 15px;
  margin-top: 10px;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Checked state */
input[type="radio"]:checked + .radio-label::before {
  background-color: var(--lime);
  border-color: var(--lime);
}

/* Hover state */
.repayment:hover,
.interest-only:hover,
input[type="radio"]:focus + .radio-label::before {
  border-color: var(--lime);
}

.repayment,
.interest-only {
  height: 45px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 10px;
}

.interest-only label,
.repayment label {
  cursor: pointer;
}

/*
=======
Button
=======
*/

.button-container {
  display: flex;
  justify-content: center;
}

.calculate-repayments-button {
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: var(--lime);
  text-align: center;
  border-radius: 35px;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;

  display: flex;
  justify-content: center;
}

.icon-inside-button {
  margin-right: 10px;
}

/* mortgage results*/
.mortgage-results {
  background: var(--slate900);
  flex: 1;
  border-radius: 0 15px 15px 85px;
}

.ilustration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  flex-direction: column;
  padding: 20px;
}

.ilustration img {
  margin-bottom: 20px;
}

.image-heading {
  color: var(--white);
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.image-paragraph {
  color: var(--white);
  text-align: center;
}
