/*
- Mobile: 375px
- Desktop: 1440px
Font size (labels): 20px 
Weights: 400, 500, 700, 800
*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
:root {
  --error: hsl(0, 100%, 66%);
  --neutral0: hsl(0, 0%, 100%);
  --neutral300: hsl(252, 6%, 83%);
  --neutral500: hsl(245, 15%, 58%);
  --neutral700: hsl(245, 19%, 35%);
  --neutral900: hsl(248, 70%, 10%);
  --orange500: hsl(7, 88%, 67%);
  --orange700: hsl(7, 71%, 60%);
  --gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: var(--neutral500);

  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  color: var(--neutral0);
  margin: 25px;
}
/* heading section */
.heading {
  display: flex;
  gap: 15px;
}

/* background images */
.squiggly__line__img,
.pattern__lines,
.pattern__circle,
.squiggly__line__bottom {
  position: absolute;
}
.squiggly__line__img {
  top: 0;
  right: 0;
  height: 35%;
}
.pattern__lines {
  width: 100%;
  height: 100%;
  top: 0;
}
.pattern__circle {
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.squiggly__line__bottom {
  bottom: 0;
  left: 0;

  height: 500px;
  width: 600px;

  background: url(./assets/pattern-squiggly-line-bottom-desktop.svg) no-repeat
    center center / cover;
}
.pattern__lines,
.squiggly__line__bottom {
  z-index: -1;
}

/* form section */
#form {
  width: 35%; /* destopk */

  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading2,
.heading__result {
  font-size: 1.8rem;
}
.main__paragraph,
#drop__area p {
  color: var(--neutral300);
}
.heading,
.heading2,
.main__paragraph,
.heading__result {
  margin-bottom: 30px;
}
.upload {
  margin-bottom: 10px;
  border: 3px solid greenyellow;

  width: 100%;
}
.upload__tittle {
  margin-bottom: 15px;
}
.upload__tittle,
.label {
  font-size: 18px;
}
.label {
  margin-bottom: 15px;
  width: fit-content;
}
#drop__area {
  border: 2px dashed var(--neutral300);
  width: 100%;
  height: 160px;
  border-radius: 15px;

  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsla(252, 6%, 83%, 0.11);

  transition: background-color 0.3s ease;
}
#drop__area:hover,
.input:hover {
  cursor: pointer;
  background-color: var(--neutral700);
}
.input {
  margin-bottom: 10px;
  color: var(--neutral0);

  border-radius: 5px;
  border: 1px solid var(--neutral0);
  padding-left: 10px;

  background: hsla(252, 6%, 83%, 0.11);
  outline: none;
  transition: background-color 0.3s ease;
}

#img__container {
  padding: 10px;
  border: 1px solid var(--neutral300);
  border-radius: 15px;
  background: var(--neutral700);
  margin-bottom: 10px;

  background-position: center;
  background-size: cover;
}

#img__container img {
  height: 45px;
}
.info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.info p {
  font-size: 12px;
  color: var(--neutral300);
}
.info__icon {
  margin-right: 10px;
}
.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  width: 100%; /* */
}
.button {
  color: var(--neutral900);
  background-color: var(--orange500);
  border-radius: 5px;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease;

  width: 100%;
}
.button:hover {
  background-color: var(--orange700);
  cursor: pointer;
}
.input,
.button {
  height: 50px;
  font-size: 16px;
}
#name__result {
  font-weight: bold;
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-transform: capitalize;
}
#email__result {
  color: var(--orange500);
}
.ticket {
  width: 100%;
  position: relative;
}
.logo {
  height: 150px;

  background: url(./assets/pattern-ticket.svg) no-repeat center center / cover;
  padding: 10px;

  position: relative;
}
.heading__logo {
  background: url(./assets/logo-full.svg);
  height: 30px;
  width: 30px;
}
.date__result {
  position: absolute;
  top: 10px;
  left: 50px;
}
.result__tittle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.date__time {
  color: var(--neutral500);
}
.perfil__info {
  position: absolute;
  bottom: 10px;
  left: 70px;
}
#perfil__info__p {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.github_icon_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.github__img {
  height: 30px;
}
#img__container__perfil {
  padding: 10px;
  border: 1px solid var(--neutral300);
  border-radius: 15px;
  background: var(--neutral700);
  margin-bottom: 10px;

  background-position: center;
  background-size: cover;
  height: 60px;
  width: 60px;

  position: absolute;
  bottom: 0;
  left: 0;
}
.ticket__number {
  position: absolute;
  right: 0;
  top: 50%;

  transform: rotate(90deg);
}
.result {
  border: 3px solid yellow;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 400px;
}

/* error */
.error-message {
  color: var(--error);
}

/* Responsive Design */
@media (min-width: 310px) and (max-width: 480px) {
  body {
    background: url(./assets/background-mobile.png) no-repeat center center /
      cover;
  }
  .squiggly__line__img {
    height: 20%;
  }
  .pattern__lines {
    height: 80%;
  }
  /*
  .upload,
  #form {
    width: 95%;
  }
    */
  .pattern__circle {
    top: 80%;
    left: 65%;
    width: 40%;
  }
  .squiggly__line__bottom {
    height: 200px;
    width: 250px;

    background: url(./assets/pattern-squiggly-line-bottom-mobile-tablet.svg)
      no-repeat center center / cover;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    background: url(./assets/background-tablet.png) no-repeat center center /
      cover;
  }
  .squiggly__line__img {
    height: 25%;
  }
  .upload,
  #form {
    width: 80%; /* 95  */
  }

  .squiggly__line__bottom {
    height: 200px;
    width: 250px;

    background: url(./assets/pattern-squiggly-line-bottom-mobile-tablet.svg)
      no-repeat center center / cover;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background: url(./assets/background-tablet.png) no-repeat center center /
      cover;
  }
  .squiggly__line__img {
    height: 30%;
  }

  .squiggly__line__bottom {
    height: 200px;
    width: 250px;

    background: url(./assets/pattern-squiggly-line-bottom-mobile-tablet.svg)
      no-repeat center center / cover;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  body {
    background: url(./assets/background-desktop.png) no-repeat center center /
      cover;
  }
  .squiggly__line__img {
    height: 35%;
  }
}

@media (min-width: 1601px) {
  body {
    background: url(./assets/background-desktop.png) no-repeat center center /
      cover;
  }
}
