@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --white: #fafafa;
  --black: #000000;
  --red: #d3122f;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  padding: 20px;
  font-family: Arial;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}
h1 {
  font-size: 50px;
  word-break: break-all;
  margin-bottom: 25px;
}
.main_text {
  margin-top: 25px;
  margin-bottom: 25px;
}
.row {
  margin: 8px -16px;
}
/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.content {
  background-color: var(--white);
  padding: 20px;

  height: 500px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.project_tittle {
  text-transform: capitalize;
}
.button_container {
  display: flex;
  justify-content: space-between;
}
.button {
  border-radius: 5px;

  color: #ffffff;
  text-align: center;

  padding: 20px;
  width: 200px;

  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
.preview {
  background: var(--red);
}
.code {
  background: var(--black);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
