/* 
- Mobile: 375px
- Desktop: 1440px
- Font size (Introductory Paragraph): 15px
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --softCyan: hsl(174, 77%, 80%); /* (Full Slider Bar) */
  --strongCyan: hsl(174, 86%, 45%); /* (Slider Backround) */
  --lightGrayish: hsl(14, 92%, 95%); /* (Discount Background) */
  --lightRed: hsl(15, 100%, 70%); /* (Discount Text) */
  --paleBlue: hsl(226, 100%, 87%); /* (CTA Text) */
  /* neutral */
  --white: hsl (0, 0%, 100%); /* (Pricing Component Background) */
  --veryPaleBlue: hsl(230, 100%, 99%); /*(Main Background) */
  --lightGrayishBlue: hsl(224, 65%, 95%); /* (Empty Slider Bar) */
  --lightGrayishBlue: hsl(223, 50%, 87%); /* (Toggle Background) */
  --grayishBlue: hsl(225, 20%, 60%); /* (Text) */
  --darkDesaturatedBlue: hsl(227, 35%, 25%); /* (Text & CTA Background) */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--veryPaleBlue);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center; /* */
  min-height: 100vh;
}
/* General  */

/* left side  and right side */
.left_side {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid red;

  position: relative;
  /* width: 100%; */
}
.tittle {
  margin-bottom: 20px;
  text-align: center;
}
.tittle h1 {
  color: var(--darkDesaturatedBlue);
  font-size: 26px;
  margin-bottom: 10px;
}
.tittle p {
  color: var(--grayishBlue);
  font-weight: 600;
}
.pattern_circles {
  position: absolute;
  inset: 0;

  background: url(./assets/pattern-circles.svg) no-repeat center calc(10% + 2vw);
  /* background-size: 55%;  background-size: cover; /* Adjust size for responsiveness */
  z-index: -1;
}

.right_side {
  flex: 3;

  display: flex;
  justify-content: center;
  border: 3px solid yellow;

  width: 100%;
}

.pricing {
  /*
  height: 400px;
 
*/
  padding: 20px;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.pricing_options {
  border: 3px solid green;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_views {
  color: var(--grayishBlue);
}

.pricing_details {
  border: 3px solid red;

  flex: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--veryPaleBlue); /* */
}

/* checkmark  */
.checkmark {
  display: flex;
  align-items: center;
}

.checkmark::before {
  content: "";
  background: url("./assets/icon-check.svg") no-repeat center center;
  background-size: contain;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
/* checkmark  */

.pricing_details p {
  color: var(--grayishBlue);
  margin-bottom: 15px;
}

.trial_button {
  margin-top: 15px;

  background: var(--darkDesaturatedBlue);
  color: var(--veryPaleBlue);
  padding: 5px;

  height: 50px;
  width: 60%;
  font-size: 16px;

  border-radius: 25px;
  border: none;
}

.trial_button:hover {
  cursor: pointer;
}

/* slider */
.slider-container {
  width: 300px;
  text-align: center;
  margin: 50px auto;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: var(--lightGrayishBlue);

  border-radius: 5px;
  outline: none;
  transition: 0.3s;

  margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;

  /* Background color */
  background-color: var(--strongCyan);

  /* Background image */
  background-image: url("./assets/icon-slider.svg");
  background-size: 50%; /* Adjust icon size */
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: 0px 5px 20px hsla(174, 86%, 45%, 0.7);
}
/*
input[type="range"]::-webkit-slider-thumb:hover {
  background: #2980b9;
}
  */

#value {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}

/* slider */

.billing_method {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightGrayishBlue);
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--strongCyan);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--strongCyan);
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
