@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --softCyan: hsl(174, 77%, 80%);
  --strongCyan: hsl(174, 86%, 45%);
  --strongCyanHover: hsl(174, 86%, 30%);
  --lightGrayish: hsl(14, 92%, 95%);
  --lightRed: hsl(15, 100%, 70%);
  --paleBlue: hsl(226, 100%, 87%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --veryPaleBlue: hsl(230, 100%, 99%);
  --emptySlideBar: hsl(224, 65%, 95%);
  --lightGrayishBlue: hsl(223, 50%, 87%);
  --grayishBlue: hsl(225, 20%, 60%);
  --darkDesaturatedBlue: hsl(227, 35%, 25%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--veryPaleBlue);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.left_side {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;

  padding: 30px;
}
.tittle {
  margin-bottom: 20px;
  text-align: center;
}
.tittle h1 {
  color: var(--darkDesaturatedBlue);
  font-size: 26px;
  margin-bottom: 10px;
}
.tittle p {
  color: var(--grayishBlue);
  font-weight: 600;
}
.pattern_circles {
  position: absolute;
  inset: 0;

  background: url(./assets/pattern-circles.svg) no-repeat center calc(10% + 2vw);
  z-index: -1;
}
.right_side {
  flex: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;

  width: 100%;
  background: var(--lightGrayishBlue);

  border: 1px solid var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.pricing {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: 1px solid var(--white);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: var(--white);
}
.pricing_options {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.page_views {
  color: var(--grayishBlue);
  font-size: 18px;
  letter-spacing: 2px;
}
.pageview_container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
.display_result_pageview {
  display: none;
}
/* slider */
.slider_container {
  width: 300px;
  text-align: center;
  margin: 50px auto;
}
input[type="range"] {
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--emptySlideBar);

  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  margin-bottom: 30px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--strongCyan);

  background-image: url("./assets/icon-slider.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 20px hsla(174, 86%, 45%, 0.7);
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--strongCyan);

  background-image: url("./assets/icon-slider.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 20px hsla(174, 86%, 45%, 0.7);
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--strongCyanHover);
  background-image: url("./assets/icon-slider.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 20px hsla(174, 86%, 45%, 0.7);
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--strongCyanHover);
  background-image: url("./assets/icon-slider.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 20px hsla(174, 86%, 45%, 0.7);
}
#value,
#value2 {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin-left: 10px;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}
.month_value {
  color: var(--grayishBlue);
  margin-left: 10px;
}
/* slider */
.billing_method {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 14px;
  gap: 10px;
}
.billing_method p {
  color: var(--grayishBlue);
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightGrayishBlue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--strongCyan);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--strongCyan);
}
input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
.discount {
  padding: 5px;
  width: 75px;
  text-align: center;
  background-color: var(--lightGrayish);
  color: var(--lightRed);
  border-radius: 10px;
}
.discount_text {
  display: none;
}
.pricing_details {
  flex: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--white);
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: var(--white);
  padding-top: 40px;
}
.checkmark {
  display: flex;
  align-items: center;
}
.checkmark::before {
  content: "";
  background: url("./assets/icon-check.svg") no-repeat center center;
  background-size: contain;

  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.pricing_details p {
  color: var(--grayishBlue);
  margin-bottom: 15px;
}
.trial_button {
  margin-top: 15px;
  background: var(--darkDesaturatedBlue);
  color: var(--paleBlue);
  font-weight: bolder;
  padding: 5px;
  height: 45px;
  width: 80%;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  transition: 0.3s;
}
.trial_button:hover {
  cursor: pointer;
  background: var(--grayishBlue);
}
@media (min-width: 481px) and (max-width: 768px) {
  .left_side,
  .right_side {
    width: 80%;
  }
  .left_side {
    padding: 50px;
  }
  .pricing_details {
    flex-direction: row;
    padding: 20px;
  }
  .benefits,
  .trial_button {
    flex: 1;
  }
  .slider_container {
    width: 80%;
  }
  .trial_button {
    width: 30%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .left_side,
  .right_side {
    width: 75%;
  }
  .left_side {
    padding: 50px;
  }
  .display_result_pageview {
    display: block;
  }
  .display_result {
    display: none;
  }
  input[type="range"] {
    margin-bottom: 10px;
  }
  .discount {
    padding: 10px;
    width: fit-content;
  }
  .discount_text {
    display: inline;
    margin-left: 10px;
  }
  .pricing_details {
    flex-direction: row;
    padding: 20px;
  }
  .benefits,
  .trial_button {
    flex: 1;
  }
  .slider_container {
    width: 80%;
  }
  .trial_button {
    width: 30%;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .left_side,
  .right_side {
    width: 45%;
  }
  .left_side {
    padding: 50px;
  }
  .display_result_pageview {
    display: block;
  }
  .display_result {
    display: none;
  }
  input[type="range"] {
    margin-bottom: 10px;
  }
  .discount {
    padding: 10px;
    width: fit-content;
  }
  .discount_text {
    display: inline;
    margin-left: 10px;
  }
  .pricing_details {
    flex-direction: row;
    padding: 20px;
  }
  .benefits,
  .trial_button {
    flex: 1;
  }
  .slider_container {
    width: 80%;
  }
  .trial_button {
    width: 30%;
  }
}

@media (min-width: 1601px) {
  .left_side,
  .right_side {
    width: 50%;
  }
  .left_side {
    padding: 50px;
  }
  .display_result_pageview {
    display: block;
  }
  .display_result {
    display: none;
  }
  input[type="range"] {
    margin-bottom: 10px;
  }
  .discount {
    padding: 10px;
    width: fit-content;
  }
  .discount_text {
    display: inline;
    margin-left: 10px;
  }
  .pricing_details {
    flex-direction: row;
    padding: 20px;
  }
  .benefits,
  .trial_button {
    flex: 1;
  }
  .slider_container {
    width: 80%;
  }
  .trial_button {
    width: 30%;
  }
}
